/*couleurs :
jaune rgb(255,236,108)
vert fonc�� rgb(98,160,77)
vert clair rgb(174,227,157)
marron rgb(194,123,71)
*/

@font-face {
   font-family: 'cantarell';
   src: url('police/Cantarell-Regular.ttf') format('truetype');
}

body
{
font-family: 'cantarell', 'Arial';
margin:0px;
padding:0px;
background-image: url("../img/dessins/texture_page.png");
}

header
{
height: 234px;
background-image: url("../img/dessins/texture_header.png");
}

#fond
{
width:100%;
min-width:1020px;

margin:0px;
padding-top:10px;

}

#page
{
width:1000px;
min-width:1000px;
margin:0px;
margin-left:auto;
margin-right:auto;
padding:10px;
position: relative;
text-align: center;

}

h1, h2, h3, h4
{
color: rgb(98,160,77);
}

a
{
	text-decoration: none;
	color: rgb(98,160,77);
}

#banniere
{
width:1000px;
min-width:1000px;
margin:0px;
margin-left:auto;
margin-right:auto;
padding:7px;
position: relative;
text-align: center;

}

#logo
{
display: inline-block;
}

.carre_menu
{
color: rgb(98,160,77);
font-weight: bold;
display: inline-block;
width : 130px;
height: 150px;
text-align: center;
border: 1px dotted rgb(174,227,157);
vertical-align: top;
margin-top: 18px;
margin-left: 15px;
padding: 0px;
}

.carre_menu:hover
{
color: rgb(174,227,157);
height: 146px;
border: 1px solid rgb(174,227,157);
border-bottom: 5px solid rgb(174,227,157);
}

.titre_carre_menu
{
	margin-top: 20px;
	font-size: 18px;
}

#menu1
{
	background-image: url("../img/dessins/mur.png");
}

#menu1:hover
{
	background-image: url("../img/dessins/mur_j.png");
}

#menu2
{
	background-image: url("../img/dessins/proposer.png");
}

#menu2:hover
{
	background-image: url("../img/dessins/proposer_j.png");
}

#menu3
{
	background-image: url("../img/dessins/demander.png");
}

#menu3:hover
{
	background-image: url("../img/dessins/demander_j.png");
}

#menu4
{
	background-image: url("../img/dessins/molette.png");
}

#menu4:hover
{
	background-image: url("../img/dessins/molette_j.png");
}

#user
{
	height: 35px;
	background-color: rgb(98,160,77);
	margin-top: 0px;
	padding-left: 20px;
}

#user .input
{
	display: inline-block;
	margin: 5px;
}

#user .submit
{
	display: inline-block;
}

input[type=submit]
		{
				background-color:white;
				border:2px solid rgb(174,227,157);

				color:black;

				text-align:center;

				cursor:pointer;
		}

