
.carre_menu:hover
{
	color: rgb(174,227,157);
	height: 146px;
	border: 1px solid rgb(174,227,157);
	border-bottom: 5px solid rgb(174,227,157);
	cursor: pointer;
}

#menu1:hover
{
	background-image: url("../img/dessins/mur_j.png");
}

#menu2:hover
{
	background-image: url("../img/dessins/proposer_j.png");
}

#menu3:hover
{
	background-image: url("../img/dessins/demander_j.png");
}

#menu4:hover
{
	background-image: url("../img/dessins/molette_j.png");
}

#menu5:hover
{
	background-image: url("../img/dessins/oeil_j.png");
}

#menu6:hover
{
	background-image: url("../img/dessins/main_j.png");
}

#informations_user
{
	display: inline-block;
	vertical-align: top;
	line-height: 50px;
}

#barre_connexion_contenu img
{
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
	margin-left: 5px;
}

#logout
{
	float: right;
	line-height: 50px;
	margin-right: 7px;
}

#logout a
{
	color: white;
}

#barre_connexion #barre_connexion_contenu
{
	text-align: left;
}