#menu2
{
	background-image: url("../img/dessins/proposer_j.png");
	color: rgb(255,236,108);
	height: 146px;
	border: 1px solid rgb(255,236,108);
	border-bottom: 5px solid rgb(255,236,108);
}


#poster_offre
{
	display:inline-block;
	vertical-align:top;
	
	width:250px;
	
	margin:0px;
	margin-right:50px;
	padding:0px;
}
	
	#poster_offre .checkbox
	{
		width: 5px;
	}

#offres
{
	display:inline-block;
	vertical-align:top;
	
	width:680px;
	
	margin:0px;
	padding:0px;
}


		.une_offre
		{
			width:680px;
			
			padding:0px;
			padding-left:6px;
			margin:0px;
			margin-bottom:20px;
			
			background-color:rgba(30,30,30,0.05);
		}
					.une_offre:hover
					{	
						padding-left:0px;
						border-left:solid rgb(98,160,77) 6px;
					}
			.une_offre .colonne_gauche
			{
				display:inline-block;
				vertical-align:top;
				
				width:150px;
				
				padding:10px;
				margin:0px;
				
				background-color:rgba(30,30,30,0.05);
				
				text-align:center;
			}
			.une_offre.colonne_droite
			{
				display:inline-block;
				vertical-align:top;
				
				max-width:470px;
				
				padding:10px;
				margin:0px;
				
				text-align:justify;
			}
				.une_offre_date
				{
					margin-bottom:10px;
					
					font-size:13px;
				}
			

			
			
			
			
			
		.sous_titre_colonne_droite
				{
					margin-top:15px;
					margin-bottom:15px;
					
					font-size:20px;
				}
