/*couleurs :
jaune rgb(255,236,108)
vert fonc�� rgb(98,160,77)
vert clair rgb(174,227,157)
marron rgb(194,123,71)
*/

@font-face {
   font-family: 'cantarell';
   src: url('police/Cantarell-Regular.ttf') format('truetype');
}

body
{
font-family: 'cantarell', 'Arial';
color: rgb(30,30,30);
margin:0px;
padding:0px;
background-image: url("../img/dessins/texture_page.png");
}

header
{
height: 234px;
background-image: url("../img/dessins/texture_header.png");
}

footer
{
height: 50px;
background-image: url("../img/dessins/texture_header.png");
width: 100%;
position:fixed;
bottom:0;

text-align: center;
color: white;
font: bold;
}

#fond
{
width:100%;
min-width:1020px;

margin:0px;
padding-top:10px;

}

#page
{
width:1000px;
min-width:1000px;
margin:0px;
margin-left:auto;
margin-right:auto;
padding:10px;
position: relative;
text-align: center;

}

h1, h2, h3, h4
{
color: rgb(98,160,77);
}

a
{
	text-decoration: none;
	color: rgb(98,160,77);
}

#banniere
{
width:1000px;
min-width:1000px;
margin:0px;
margin-left:auto;
margin-right:auto;
padding:7px;
position: relative;
text-align: center;

}

#logo
{
display: inline-block;
}

.carre_menu
{
color: rgb(98,160,77);
font-weight: bold;
display: inline-block;
width : 130px;
height: 150px;
text-align: center;
border: 1px dotted rgb(174,227,157);
vertical-align: top;
margin-top: 18px;
margin-left: 15px;
padding: 0px;
}

.titre_carre_menu
{
	margin-top: 20px;
	font-size: 18px;
}

#menu1
{
	background-image: url("../img/dessins/mur.png");
}

#menu2
{
	background-image: url("../img/dessins/proposer.png");
}

#menu3
{
	background-image: url("../img/dessins/demander.png");
}

#menu4
{
	background-image: url("../img/dessins/molette.png");
}


#barre_connexion
{
	height: 50px;
	width:100%;
	min-width:1020px;
		
	margin:auto;	
	margin-top: 0px;
		
	background-color: rgb(98,160,77);
	text-align:center;
}

#barre_connexion #barre_connexion_contenu
{
	width:1000px;
	
	margin:0px;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	padding-right:12px;
	
	text-align: right;
}
	
#barre_connexion .input
{
	display: inline-block;
	
	width:208px;
	
	padding:0px;
	margin:12px;
	margin-left:0px;
	margin-right:20px;
}
#barre_connexion .submit, #barre_connexion #informations_connexion
{
	display: inline-block;
	
	min-width:132px;
	
	padding:0px;
	margin:12px;
	margin-left:0px;
	margin-right:7px;
}
#barre_connexion #informations_connexion
{
	display: inline-block;
	line-height:30px;
}

#barre_connexion #informations_connexion a
{
	display: inline-block;
	color: white;
	
}

#barre_connexion #informations_connexion img
{
	display: inline-block;
	vertical-align:top;
	margin: -7px;
}

#barre_connexion .input input, #barre_connexion input[type=submit]
{	
	padding:3px;
	margin:0px;
	
	font-size:12px;
	line-height:15px;
	
	border-top:solid rgb(255,236,108) 4px;
	border-radius:0px 0px 0px 0px;
}
#barre_connexion input[type=submit]
{
	border-top:solid rgb(255,236,108) 4px;
}
	
input, textarea, input[type=submit]
{
		-webkit-appearance: none;
		-moz-appearance: none;

		display:block;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;

		width:100%;
		
		padding:10px;
		margin:10px;
		margin-left:0px;
		margin-right:0px;

		border:none;
		border-top:solid rgb(255,236,108) 6px;
		background-color:white;
		border-radius:10px 10px 0px 0px;
		outline-width:0px;

		font-size:14px;
		line-height:20px;
		text-align:left;
}

input[type=submit]
{
		border-top:solid rgb(255,236,108) 6px;
		
		background-color:rgb(255,236,108);
		border-radius:10px 10px 10px 10px;
		
		text-align:center;
		
		cursor: pointer;
}
